.bg {
    background-size: 100% 100%;
    background-attachment: fixed;
 }
#productos{
    text-align:center;
    background-image: rgb(179, 185, 179);
    margin: 10px 100px 100px 100px;
    border-width: 3px;
    border-radius: 60px;  
}

#icono1{
    border-color: rgb(0, 204, 255);
    border-style: solid;
    border-width: 5px;
    border-radius: 60px;
    margin: 50px 50px 50px 50px;
}
.titulo {
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 40px; 
    color: rgb(170, 198, 247); 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }
.tituloh3{
        font-family: Arial Black; 
        font-weight: bold; 
        font-size: 30px; 
        color: rgb(170, 198, 247); 
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        }
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    .n {
        float: left;
        border-right:1px solid #bbb;
    }
    
    .n:last-child {
        border-right: none;
    }
    
    .n a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .n a:hover:not(.activar) {
        background-color: #111;
    }
    
    .activar {
        background-color: #4CAF50;
    }
  
