.tablas {
    width: 100%;
    border: 1px solid #999;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
.bg {
   background-size: 100% 100%;
   background-attachment: fixed;
}

.titulo {
   
   font-family: Arial Black; 
   font-weight: bold; 
   font-size: 40px; 
   color: rgb(170, 198, 247); 
   text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
   }